
<div style="text-align:center">
  <h1>
    James Dev J
  </h1>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">Welcome</a>
      </div> -->
      <ul class="nav navbar-nav marginLR35">
          <li><a class="fa fa-home iconMainMenu" routerLink="/home" routerLinkActive="home">&nbsp;Home</a></li>
          <li> <a class="fa fa-graduation-cap iconMainMenu"  routerLink="/profile" routerLinkActive="profile">&nbsp;Education</a></li>
          <li> <a class="fa fa-briefcase iconMainMenu"  routerLink="/experience" routerLinkActive="experience">&nbsp;Experience</a></li>
         <li><a class="fa fa-bookmark iconMainMenu" routerLink="/portfolio" routerLinkActive="portfolio">&nbsp;Portfolio</a></li>
         <li><a class="fa fa-address-book iconMainMenu"  routerLink="/contact" routerLinkActive="contact">&nbsp;Contact</a></li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
