<div class="container" style="background-color:#eee">
  <div class="jumbotran">
    <div style="text-align:center">
      <h2 style="font-weight:bold"> James Dev J</h2>
      <h5><i class="fa fa-phone fa-lg" aria-hidden="true"> &nbsp;+91 72596 07152</i></h5>
      <h5><i class="fa fa-whatsapp fa-lg" aria-hidden="true">&nbsp;+91 98651 42736</i> </h5>
      <h5><a class="fa fa-envelope-o fa-lg" aria-hidden="true" style="color:black" href="mailto:jamesdevj@hotmail.com">&nbsp;jamesdevj@hotmail.com</a></h5>
      <h5>
          <a class="fa fa-facebook-official fa-lg" aria-hidden="true" style="color:black" href="https://www.facebook.com/jamesdev.ece"></a>
          <a class="fa fa-rss-square fa-lg" aria-hidden="true" style="color:black" href="http://jjdscraps.blogspot.in/"></a>
          <a class="fa fa-twitter-square fa-lg" aria-hidden="true" style="color:black" href="https://www.twitter.com/jmsdevj"></a>
      
      </h5>
      
    </div>
  </div>
</div>
<br>