<div class="row" style="height:85px">  
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 box" style="height:inherit">
          <h6><i class="fa fa-calendar"></i>&nbsp; May 2015 - November 2015</h6>
          <h4><i class="fa fa-id-card-o"></i>&nbsp; Junior Software Developer</h4>  
          <h5><i class="fa fa-building-o"></i>&nbsp; Centizen Inc., Tirunelveli</h5>        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
  <br>
<div class="row" style="height:85px">  
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 box" style="height:inherit">
          <h6><i class="fa fa-calendar"></i>&nbsp; December 2015 - April 2016</h6>
          <h4><i class="fa fa-id-card-o"></i>&nbsp; Systems Engineer Trainee</h4>  
          <h5><i class="fa fa-building-o"></i>&nbsp; Infosys, Mysore</h5>        
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
    </div>
  </div>
  <br>
<div class="row" style="height:85px">  
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3 col-md-3 col-sm-3">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 box" style="height:inherit">
        <h6><i class="fa fa-calendar"></i>&nbsp; April 2016 - Present</h6>
        <h4><i class="fa fa-id-card-o"></i>&nbsp; Systems Engineer</h4>  
        <h5><i class="fa fa-building-o"></i>&nbsp; Infosys, Mangalore</h5>        
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
    </div>
  </div>
</div>
  <br>
  