<div class="container"> 
  <h4 style="text-align: center;background-color: lightgray;">About Me </h4>
<div>
  <p>
Strongly skilled CSharp Dot Net Developer with vast knowledge in programming languages C, C++, C# and basic knowledge in Python.

High proficiency in developing and supporting Angular - JavaScript - AJAX and CSharp Dot Net applications.
  </p>

  <p>
Strong knowledge in scripting languages HTML5 and CSS3. And of SQL and Oracle databases.

Adept at all aspects of web and technical support. Able to present work accessibly to executive-level decision makers.
  </p>

  <p>
Exceptional ability to multitask and work well under stress. Possesses strong logical and reasoning skills.

Proven ability to research and solve complex problems.
  </p>
  <p>
Sound written and oral communication skills. Fluency in Tamil and English.
  </p>
  <p>
Passionate. Responsible and Creative.
Loves to be updated with current affairs and GK.

Bookworm. Reads fictional novels and non-fictional books.

Steve Jobsian. Interested in sci-tech innovations and discoveries.

Loves music. Plays Chess and Badminton.

In spare times, enjoys writing and designing.
  </p>
</div>
</div>


